 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 775px;
}

.u-section-1 .u-text-1 {
  font-size: 0.3125rem;
  margin: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 759px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -2px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 10px 51px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 12px 129px 0 0;
}

.u-section-1 .u-image-1 {
  width: 216px;
  height: 435px;
  object-position: 40.22% 50%;
  margin: -384px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 180px;
  height: 180px;
  margin: -396px auto 0 337px;
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 250px;
  margin: 33px 261px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 50px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 759px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 227px;
  height: 195px;
  margin: 4px auto 0 11px;
}

.u-section-1 .u-image-5 {
  width: 350px;
  height: 217px;
  margin: -184px 17px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 221px;
  height: 342px;
  margin: 44px auto 0 21px;
}

.u-section-1 .u-image-7 {
  width: 373px;
  height: 286px;
  margin: -283px 77px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 201px;
  height: 205px;
  margin: -511px auto 0 259px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 357px 330px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 9px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 270px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1137px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 207px;
    margin-right: auto;
    margin-left: -309px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 164px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 164px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1139px;
  }

  .u-section-1 .u-image-7 {
    width: 368px;
    height: 282px;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    margin-top: -507px;
    margin-left: 167px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -45px;
    margin-left: -255px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 820px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1233px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -21px;
    margin-bottom: 6px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 211px;
    margin-right: -1px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 17px;
    margin-left: 87px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 261px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    margin-top: -486px;
    margin-left: 139px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    margin-left: auto;
  }
}